@import url(../../styles/values.less);

.area-categories {
  table {
    .icons {
      font-size: 23px;
    }
    .icon-status {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: block;
      color: @text-white;
      text-align: center;
      margin: 0 auto;
      &.show {
        background-color: @success-color;
      }
      &.hide {
        background-color: @danger-color;
      }
    }
    tr>th:nth-child(n + 3),
    tr>td:nth-child(n + 3) {
      text-align: center;
    }
  }
  .form-add-edit-category {
    width: 768px;
    .validation-form .form-item .form-item-label {
      flex: 25% 0;
    }
    .modal-content {
      padding-right: 30%;
      padding-left: 45px;
    }
  }
}